<ng-template [ngIf]="isLoading">
    <div class="loading">
      <div>
        <svg class="spinner" viewBox="25 25 50 50">
          <circle
            class="path"
            cx="50"
            cy="50"
            r="20"
            stroke-width="2"
            stroke-miterlimit="10"
          />
        </svg>
      </div>
    </div>
  </ng-template>
<div [ngClass]="{'page-wrapper': isAuth}">
    <div *ngIf="isAuth" class="toolbar" [ngClass]="{'toolFlex': showSide && isAuth}">
        <view-toolbar [showSide]="showSide" [selectedItemFromMenu]="selectedItemFromMenu" (toggleSideMenu)="showMenu($event)"></view-toolbar>
    </div>
    <div class="sidenav sidebar-wrapper" [ngClass]="{'min-sidenav':showSide}" *ngIf="isAuth">
        <view-sidemenu [showSide]="showSide"  [isAuth]="isAuth" (toggleSideMenu)="showMenu($event)" (selectedItemMenuChanged)="selectedItemMenuChanged($event)"></view-sidemenu>
    </div>
    <div [ngClass]="{
        'page-content': isAuth,
        'flex-page': showSide && isAuth
    }">
        <router-outlet></router-outlet>
    </div>
</div>