<div class="sidebar-content">
    <div class="sidebar-menu">
        <button class="_close" (click)="hideSide()">
            <i class="fas fa-times" ></i>
        </button>
        <ul>
            <li *ngFor="let p of pages" [ngClass]="{'actived': selectedItem == p.url }" (click)="openPage(p)">
                <ng-container *ngIf="p.permision">
                    <i [class]="p.icon"></i>
                    <span>{{ p.title }}</span>
                </ng-container>
            </li>
        </ul>
    </div>
</div>