<div class="sidebar-content">
    <div class="sidebar-menu">
        <button class="_close" (click)="hideSide()">
            <i class="fas fa-times" ></i>
        </button>
        <ul>
            <li *ngFor="let p of pages" [ngClass]="{'actived': selectedItem == p.url }" (click)="openPage(p)">
                <ng-container>
                    <i [class]="p.icon"></i>
                    <span>{{ p.title }}</span>
                </ng-container>
            </li>
            <li [ngClass]="{'actived': selectedItem == 'funcionarios' }" (click)="openEmployersPage()" *ngIf="isAdmin">
                <i class="fas fa-users"></i>
                <span>Funcionarios</span>
            </li>
            <li [ngClass]="{'actived': selectedItem == 'funcionarios' }" (click)="openEmployersPage()" *ngIf="isAdmin">
                <i class="fas fa-outdent"></i>
                <span>Entradas e Saidas</span>
            </li>
            <li (click)="logout()">
                <i class="fa fa-sign-out-alt"></i>
                <span>Sair</span>
            </li>
        </ul>
    </div>
</div>