<section class="user-info">
    <!-- <h1>{{user?.nome}} {{user?.sobrenome}}</h1> -->
    <h1  class="user-info-title">Olá Fulano</h1>
    <p class="user-info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nesciunt ipsa quibusdam natus. Debitis ullam sunt laborum quod nisi voluptatem a doloribus in, libero eveniet porro quidem saepe nesciunt labore!</p>
</section>
<section class=" user-more-info">
   <div class="user-info user-more-info-card">
       
   </div>
   <div class="user-info user-more-info-card">
       
   </div>
   <div class="user-info user-more-info-card">
       
   </div>
   <div class="user-info user-more-info-card">
       
   </div>
</section>
